DATABASE_URL=postgresql+asyncpg://app:app@localhost:5432/line_score
LINE_CHANNEL_SECRET=YOUR_LINE_CHANNEL_SECRET
# add ---
# Botからの返信に必要
LINE_ACCESS_TOKEN=YOUR_LINE_CHANNEL_ACCESS_TOKEN
# ランキングURL生成に使用
BASE_URL=https://xxxxx.ngrok-free.app
# ---
OPENAI_API_KEY=
